body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.header .logo {
    font-size: 25pt;
    font-weight: bold; 
    color: #BC4749; 
    text-decoration: none;
}

.header form {
    display: flex; 
    flex-grow: 1;
    margin: 0; 
}

.header .search-bar {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #386641; 
    border-radius: 4px;
    background-color: #F0F5ED; 
    font-size: 12pt; 
    color: #386641; 
    margin: 0 25px; 
    font-family: 'Avenir', sans-serif;
}

.header .btn {
    padding: 10px 15px; 
    background-color: white; 
    color: #386641; 
    border: 2px solid #386641; 
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size:15pt; 
    line-height: 1; 
    transition: background-color 0.3s; 
}

.header .logout {
    padding: 10px 15px; 
    background-color: #6A994E; 
    color: #F2E8CF; 
    border: 2px solid #386641; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 15pt; 
    line-height: 1; 
    transition: background-color 0.3s; 
}

.header .btn:hover {
    background-color: #F0F5ED; 
}

.header .logout:hover {
    background-color: #5A7A3E; 
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 25px; 
    white-space: nowrap;
}

.info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    color: #386641;
    text-decoration: none;
    border: 2px solid #386641;
    border-radius: 50%;
    background-color: white;
    margin-left: 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.info-button:hover {
    background-color: #F0F5ED;
    color: #386641;
    transform: scale(1.1);
}

.info-button:focus {
    outline: none;
}

.header .info-button {
    margin-left: 0px; 
}

.main-content {
    padding: 0 20px; 
}

.main-content h1 {
    font-size: 35pt; 
    color: #386641; 
    margin-bottom: 20px; 
}

.sets-container-wrapper {
    display: flex;
    justify-content: center; 
    margin: 0 20px; 
}

.sets-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    max-width: calc(3 * 450px + 30px); 
    width: 100%; 
    box-sizing: border-box;
}

.set-card {
    background-color: #F9F4E7;
    border: 1px solid #386641;
    border-radius: 4px;
    padding: 15px;
    font-size: 15pt;
    color: #386641;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%; 
    height: 215px;
}

.create-set-card {
    background-color: #F9F4E7; 
    border: 1px solid #386641; 
    border-radius: 4px; 
    padding: 15px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 215px; 
    margin: 10px;
    box-sizing: border-box; 
    cursor: pointer;
}

.plus-icon {
    font-size: 50pt;
    color: #386641;
}

.set-card:hover {
    background-color: #F2E8CF; 
}

.create-set-card:hover {
    background-color: #F2E8CF; 
}

.result-box {
    background-color: #F9F4E7;
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    margin-bottom: 25px;
    box-sizing: border-box;
    color: #386641;
    text-align: left;
}

.word-title {
    font-size: 24px;
    color: #386641;
    text-align: left;
    padding-left: 10px;
    margin-top: 0; 
}

.word-title input {
    width: calc(100% - 25px); 
    border: none; 
    border-bottom: 2px solid #386641; 
    background-color: transparent; 
    color: #386641; 
    font-size: 18px; 
    font-family: 'Avenir', sans-serif; 
}

.word-title input:focus {
    outline: none;
    box-shadow: none;
}

.result-details {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.detail-box {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px;
    width: 30%;
    text-align: center;
    font-size: 16px;
    color: #386641;
    height: 215px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box; 
}

.set-name input {
    padding: 18px;
    border: 0px;
    border-radius: 4px;
    background-color: #F0F5ED;
    font-size: 14pt;
    color: #386641;
    margin-top: 5px;
    width: 100%;
    font-family: 'Avenir', sans-serif; 
    box-sizing: border-box; 
}

.set-name input:focus {
    outline: none;
    box-shadow: none;
}

.create-set-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.create-set-header h1 {
    font-size: 35pt;
    color: #386641;
    margin: 0;
}

.save-btn {
    padding: 10px 15px; 
    background-color: white; 
    color: #386641; 
    border: 2px solid #386641; 
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12pt; 
    line-height: 1; 
    transition: background-color 0.3s; 
    font-family: 'Avenir', sans-serif; 
}

.save-btn:hover {
    background-color: #F0F5ED;
}

#set-dropdown, #add-card {
    padding: 10px 15px; 
    background-color: white; 
    color: #386641; 
    border: 2px solid #386641; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt; 
    line-height: 1; 
    transition: background-color 0.3s; 
    font-family: 'Avenir', sans-serif; 
    appearance: none;
}

#set-dropdown:hover, #add-card:hover {
    background-color: #F0F5ED; 
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
}

.edit-btn {
    padding: 10px 15px; 
    background-color: white; 
    color: #386641; 
    border: 2px solid #386641; 
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12pt; 
    line-height: 1; 
    transition: background-color 0.3s; 
    font-family: 'Avenir', sans-serif; 
}

.edit-btn:hover {
    background-color: #F0F5ED;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  